body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 100vh;
  gap: 1rem;
}
.episodes {
  display: grid;
  place-items: start;
  place-content: center;
}

.season {
  display: flex;
}

.season-header,
.episode {
  --size: 2rem;

  width: var(--size);
  height: var(--size);
  background: var(--color);
  display: grid;
  place-items: center;
  margin: 2px;
  border-radius: 25px;
  corner-shape: squircle;
  color: #fff;
}

.rating-0 { --color: #2b0a27 }
.rating-1 { --color: #451010 }
.rating-2 { --color: #922323 }
.rating-3 { --color: #c53030 }
.rating-4 { --color: #c53030 }
.rating-5 { --color: #c53030 }
.rating-6 { --color: #dd6b20 }
.rating-7 { --color: #f6e05e; color: #333 }
.rating-8 { --color: #48bb78 }
.rating-9 { --color: #2f855a }
.rating-10 { --color: #4CAF50 }